.outer {
  overflow: hidden;
  white-space: nowrap;
                                                                             
  min-width: 0;
}

.inner {
  display: inline-flex;
  white-space: nowrap;
}

                                             
.copy + .copy {
  margin-left: 48px;
}

                                                                                  
@media (prefers-reduced-motion: no-preference) {
  .overflowing:hover .inner {
    animation: marquee calc(var(--pitch, 0) * 25ms) linear infinite;
  }
}

@keyframes marquee {
  to {
    transform: translateX(calc(var(--pitch, 0) * -1px));
  }
}
